 .item-text.input-error {
      color: red;
    }  

  .input-group .form-control {
      z-index: unset;
  }
  
  #logo-site{
    margin-top: -4px;
  }
  
  #titulo-site{
     margin-left: -19px;
  }
  
  .panel-default{
    margin-left:20px;
    margin-right:20px;
  }
  
  .alert{
      margin-left:20px;
    margin-right:20px;
  }
  
  .aw-link-panel{
    float: right;
    /* padding: 3px; */
    padding-right: 18px;
    padding-left: 18px;
  }
  
  .aw-titulo-panel{
    float:left;
    padding-top: 2px;
  }