<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
               <img src="/img/favicon.png" id="logo-site" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" id="titulo-site" href="#">Controle de Contas</a>
          </div>
        </div>
    </nav>
    
</html>
    
    