<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
      
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Sistema Controle de Contas</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.default.css">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.standalone.min.css">
</head>
<body>


    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
               <img src="/img/favicon.png" id="logo-site" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" id="titulo-site" href="#">Controle de Contas - Java com Spring MVC</a>
          </div>
        </div>
    </nav>
    
	
      <form class="form-horizontal" method="post" action="/titulos" th:object="${titulo}">
		    
        <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		    <span th:text="${mensagem}">Título salvo com sucesso!!!</span>
		</div>
		    
		 <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>
		

		<div class="panel panel-default">
		<div class="panel-heading">
		   <div class="clearfix">
			  <h1 class="panel-title aw-titulo-panel">Adicionar Novo Título</h1>
			  <a href="/titulos" class="btn btn-primary aw-link-panel"><i class="glyphicon glyphicon-repeat"></i> Voltar para pesquisa</a>  
			</div>
		</div>
		
		  <div class="panel-body">
		  
		      <input type="hidden" th:field="*{codigo}"/> 
		   
		      <div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
		         <label for="descricao" class="col-sm-2 control-label">Descrição</label>
		         <div class="col-sm-4">
		           <input type="text" class="form-control" id="descricao" th:field="*{descricao}">
		         </div>
		      </div>
		    
		      <div class="form-group" th:classappend="${#fields.hasErrors('dataVencimento')} ? has-error">
		         <label for="dataVencimento" class="col-sm-2 control-label">Data de Vencimento</label>
		         <div class="col-sm-2">
		           <input type="text" 
		                    data-provide="datepicker" 
		                    data-date-format="dd/mm/yyyy" 
		                    data-date-language="pt-BR" 
		                    data-date-autoclose="true"
		                    data-date-today-highlight="true"
		                    data-date-orientation="bottom"
		                    class="form-control " id="dataVencimento" th:field="*{dataVencimento}" >
		         </div>

		      </div>
		      


		   	 <div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? has-error">
		         <label for="valor" class="col-sm-2 control-label">Valor</label>
		         <div class="col-sm-2">
		           <input type="text" class="form-control js-currency" id="valor" th:field="*{valor}" >
		         </div>
		      </div>   
		      
		   
		      
			 <div class="form-group">
		         <label for="status" class="col-sm-2 control-label">Status</label>
		         <div class="col-sm-2">
		           <select class="form-control" name="status" th:field="*{status}">
		           
		             <option th:each="status:${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
		             
		           </select>
		         </div>
		      </div>   	      
		      
		      <div class="form-group">
		         <div class="col-sm-offset-2 col-sm-10">
		           <button type="submit" class="btn btn-primary">Salvar</button>
		         </div>
		      </div> 
		      
		  </div>
		</div>

    </form>
   

    <script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
    <script type="text/javascript" src="/js/cobranca-valor.js"></script>
</body>
</html>